// Variables

$font-size-base: 1rem !default;
$line-height-base: 1.5 !default;
$spacing-unit: 1rem !default;

$color-bg: #fff;
$color-info: #f1f8fc;
$color-primary: #0074c7;
$color-secondary: #00497c;
$color-text: #384050;
$color-warning: #cd2c2e;
$color-success: #82b864;


.card {
  background-color: $color-info;
  border: 2px solid $color-primary;
  color: $color-text;

  .star-rating {
    font-size: 1.25rem;
    line-height: 1;
  }

  .stars-outer {
    position: relative;
    display: inline-block;
    color: rgb(185, 185, 185);
  }

  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    color: $color-success;
  }
  
  .btn-details {
    background-color: $color-bg;
    border-color: $color-secondary;
    border-radius: 1rem;
    width: fit-content;
  }
  a:hover {
    text-decoration: none;
  }
}

.card.hovered {
  border-color: $color-secondary !important;
  border: 3px solid !important;

  .btn-details {
    background-color: $color-primary !important;
    color: $color-info !important;
    text-decoration: none !important;
  }
}





