<article appHoverCard class="card h-100 w-100" role="region" [attr.aria-labelledby]="'artisan-title-' + artisan.id">
    <div class="card-body text-center d-flex flex-column">
        <h2 class="card-title mb-3" id="artisan-title-{{ artisan.id }}">
            {{artisan.name}}
        </h2>
        <p class="mb-2">
            <strong>Note :</strong>
            {{ artisan.note}}
        </p>
        <div class="star-rating mb-3" role="img" [attr.aria-label]="'Note : ' + artisan.note + ' sur 5'">
            <ng-container *ngFor="let _ of stars; let i = index">
                <span class="stars-outer" aria-hidden="true">
                    ★
                    <span class="stars-inner" [ngStyle]="{ width: getStarFill(i) + '%'}">
                        ★
                    </span>
                </span>
            </ng-container>
        </div>
        <p class="mb-2">
            <strong>Spécialité :</strong>
            {{ artisan.specialty}}
        </p>
        <p class="mb-3">
            <strong>Localisation :</strong>
            {{ artisan.location}}
        </p>
        <button class="btn-details mx-auto">
            <a class="btn-details" href="#">
                Détails
            </a>
        </button>
    </div>
</article>