<div class="footer">
    <div class="container d-flex flex-wrap align-items-center justify-content-center mt-5 pt-4 px-0">
        <div class="img-footer col-12 col-lg-4">
            <img class="img-fluid logo-footer me-2" src="assets/images/Logo_footer.png" alt="Logo de la région Auvergne-Rhône-Alpes" role="img">
        </div>
        <div class="footer-info col-12 col-md-6 col-lg-4 mt-3 ps-5">
            <h4 class="info-title fw-bold">Lyon</h4>
            <address>
                101 cours Charlemagne <br />
                CS 20033 <br />
                69269 LYON CEDEX 02 <br />
                France <br />
                <span><img class="phone-image me-3" src="assets/images/icon_phone.png" alt="logo d'un téléphone" role="img"></span>
                <a class="phone-number" href="tel:+33426734000">+33 (0)4 26 73 40 00</a>
                <p></p>
            </address>
        </div>
        <div class="footer-info col-12 col-md-6 col-lg-4 mt-3 ps-5">
            <h4 class="info-title fw-bold">Clermont-Ferrand</h4>
            <address>
                59 Boulevard Léon Jouhaux <br />
                CS 90706 <br />
                63050 CLERMONT-FERRAND 02 <br />
                France <br />
                <span><img class="phone-image me-3" src="assets/images/icon_phone.png" alt="logo d'un téléphone" role="img"></span>
                <a class="phone-number" href="tel:+33426734000">+33 (0)4 26 73 40 00</a>
                <p></p>
            </address>
        </div>
        <div class="footer-notices text-center border-top border-white border-2 col-12 my-5 pt-4">
            <a class="footer-links mx-3" href="#">Mentions légales</a>
            <a class="footer-links mx-3" href="#">Données personnelles</a>
            <a class="footer-links mx-3" href="#">Accéssibilité</a>
            <a class="footer-links mx-3" href="#">Gestion des cookies</a>
        </div>
    </div>
    <div class="container-fluid footer-socials text-center py-4">     
        <a href="https://www.facebook.com/RegionAuvergneRhoneAlpes" target="_blank" class="mx-1"><img src="assets/images/icon_facebook.png" alt="logo de facebook" role="img"></a>
        <a href="https://www.linkedin.com/connect-services/?session_redirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fauvergne-rhone-alpes%2F" target="_blank" class="mx-1"><img src="assets/images/icon_linkedin.png" alt="logo de linkedin" role="img"></a>
        <a href="https://www.youtube.com/c/regionauvergnerhonealpes" target="_blank" class="mx-1"><img src="assets/images/icon_youtube.png" alt="logo de youtube" role="img"></a>
        <a href="https://www.instagram.com/region_auvergnerhonealpes/#" target="_blank" class="mx-1"><img src="assets/images/icon_instagram.png" alt="logo d'instagram" role="img"></a>
        <a href="https://x.com/auvergnerhalpes" target="_blank" class="mx-1"><img src="assets/images/icon_X.png" alt="logo de X" role="img"></a>       
    </div>
</div>