<div class="home-page container my-4">
    <h1 class="mt-3 mb-4">Accueil</h1>
    <section class="tutorial d-flex row justify-content-center">
        <div>
            <div class="d-inline-block border-top border-5 border-primary ms-lg-5 w-1r"></div>
            <h2 class="fw-bold ms-lg-5 mb-5 pt-3">Comment trouver mon artisant</h2>
            <ol class="list-group list-group-numbered border border-2 border-primary border-opacity-50 rounded-5 ms-md-5 px-md-5 py-4">
                <img class="icon-tuto mx-auto d-block mx-md-0" src="assets/images/icon_clic_menu.png" alt="image d'un curseur de souris sur un menu" role="img">
                <li class="list-group-item">             
                    <p>Choisissez la <strong>spécialité</strong> d'artisanat dans le menu ou <strong>recherchez</strong> un artisan selon son nom, sa spécialité ou sa localisation</p>
                </li>
                <img class="icon-tuto mx-auto d-block mx-md-0" src="assets/images/icon_clic.png" alt="image d'un curseur de souris sur un menu" role="img">
                <li class="list-group-item">
                    <p>Choisissez votre artisan et <strong>cliquez sur sa fiche d'artisan</strong></p>
                </li>
                <img class="icon-tuto mx-auto d-block mx-md-0" src="assets/images/icon_contact.png" alt="image d'un curseur de souris sur un menu" role="img">
                <li class="list-group-item">
                    <p><strong>Contactez le via le formulaire</strong> sur sa fiche artisan</p>
                </li>
                <img class="icon-tuto mx-auto d-block mx-md-0" src="assets/images/icon_chrono.png" alt="image d'un curseur de souris sur un menu" role="img">
                <li class="list-group-item">
                    <p>Une réponse vous sera apportée sous <strong>48 heures</strong></p>
                </li>
            </ol>
        </div>
    </section>
    <section class="top-artisan container my-4">
        <img class="img-fluid banniere-home w-100 mb-2 mt-5" src="assets/images/banniere_home.jpg" alt="Image libre de droit d'un artisan qui travail" role="img">
        <app-top-artisans></app-top-artisans>
    </section>
</div>
