// Variables

$font-size-base: 1rem !default;
$line-height-base: 1.5 !default;
$spacing-unit: 1rem !default;

$color-bg: #fff;
$color-info: #f1f8fc;
$color-primary: #0074c7;
$color-secondary: #00497c;
$color-text: #384050;
$color-warning: #cd2c2e;
$color-success: #82b864;


.home-page {
    margin: 10vh;
    h1 {
        font-weight: 700;
        color: $color-secondary;
    }
    h2 {
        position: relative;
        font-weight: 700;
        color: $color-secondary;
        border-color: $color-primary;
    }
    h2::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 10%;
    }
    .tutorial {
        margin: auto;
        padding: 0;
    }
    ol {
        background-color: $color-info;
    }
    img {
        width: 100px;
        height: 100px;
    }
}